<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/public/img/logo.png" />
    <title>Reporte de empleados</title>
</head>
<body style="font-size: 12pt;font-family: Serif">

<h2>Datos generales</h2>
<p>Fecha de emisión del reporte: {{fecha}}</p>
<div class="w3-container">
    <h4>Disponibilidad de choferes</h4>
    <img src="/tmp/charts/choferesDisponibles.png">
    <br>
    <h4>Cantidad de empleados por rol</h4>
    <img src="/tmp/charts/totalRoles.png">
    <br>
    <h4>Recorrido en km por chofer</h4>

        <table class="w3-table w3-hoverable w3-striped">

            <tr class="w3-blue">
                <th>DNI</th>
                <th>Apellidos</th>
                <th>Nombres</th>
                <th>Total (en km)</th>
            </tr>
    {{#kmPorChofer}}
            <tr>
                <td>{{dni}}</td>
                <td>{{apellido}}</td>
                <td>{{nombre}}</td>
                <td>{{TotalViajado}}</td>
            </tr>
    {{/kmPorChofer}}
        </table>
    <img src="/tmp/charts/kmPorChofer.png">
    <br>
    <h4>Usuarios sin habilitar</h4>
    {{^sinAsignar}}
        <p>Todos los empleados están habilitados</p>
    {{/sinAsignar}}
    <table class="w3-table w3-hoverable w3-striped">
        <tr class="w3-blue">
            <th>DNI</th>
            <th>Apellidos</th>
            <th>Nombres</th>
            <th>E-mail</th>
            <th>Puesto</th>
        </tr>
        {{#sinAsignar}}
            <tr>
                <td>{{dni}}</td>
                <td>{{apellido}}</td>
                <td>{{nombre}}</td>
                <td>{{email}}</td>
                <td>{{rol}}</td>
            </tr>
    {{/sinAsignar}}
    </table>
    <br>
    <table class="w3-table w3-hoverable w3-striped">
        <tr>
            {{#eliminados}}
                <td>Cantidad de usuarios eliminados</td>
                <td>{{Total}}</td>
            {{/eliminados}}
        </tr>
    </table>
</div>

</body>
</html>